

// -----palette 1: white, grey, blk
$current-date-display: #444444;
$border-color: #444444;
$tidyclub-bg: #ffffff;
$heading-color: #444444;
$body-color: #444444;
$link-color: black;
$link-hover-color: #3b54b3;
$tidyclub-width: 100%;
$tidyclub-border: black;
$current-date-background: #444444;

// -----palette 2: green
/* $tidyclub-bg: #abbbac;
$link-color: black;
$heading-color: white;
$current-date-display: #17511b;
$current-date-background: #17511b;
$border-color: none;
$tidyclub-border: #17511b; 
$body-color: black; */

/* // -----palette 3: grey, white, purple
$tidyclub-bg: #ffffff;
$heading-color: white;
$link-color: #561b80;
$current-date-display: #561b80;
$current-date-background: #7ebeb6;
$border-color: white;
$body-color: #666666;
$tidyclub-border: #561b80;  */

// -----palette 4: brown, red, white
/* $tidyclub-bg: #987f64;
$link-color: #660106;
$heading-color: white;
$current-date-display: #660106;
$current-date-background: #660106;
$border-color: none;
$tidyclub-border: #660106;
$body-color: #ebe9dc; */